In [1]:
!pip install selenium

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: selenium in c:\users\umesh\appdata\roaming\python\python39\site-packages (4.11.2)
Requirement already satisfied: certifi>=2021.10.8 in c:\programdata\anaconda3\lib\site-packages (from selenium) (2022.9.14)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\umesh\appdata\roaming\python\python39\site-packages (from selenium) (0.10.3)
Requirement already satisfied: trio~=0.17 in c:\users\umesh\appdata\roaming\python\python39\site-packages (from selenium) (0.22.2)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\programdata\anaconda3\lib\site-packages (from selenium) (1.26.11)
Requirement already satisfied: idna in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: sortedcontainers in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: cffi>=1.14 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\umesh\appdata\roaming\python\python39\site-packages (from trio~=0.17->selenium) (1.1.3)
Requirement already satisfied: sniffio in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: attrs>=20.1.0 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: outcome in c:\users\umesh\appdata\roaming\python\python39\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: wsproto>=0.14 in c:\users\umesh\appdata\roaming\python\python39\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\programdata\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\programdata\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\umesh\appdata\roaming\python\python39\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [2]:
import selenium
from selenium import webdriver
import pandas as pd
from selenium.webdriver.common.by import By
import warnings
warnings.filterwarnings("ignore")
import time
from selenium.webdriver.common.keys import Keys
import requests
from selenium.common.exceptions import NoSuchElementException

In [3]:
#question no.1

driver = webdriver.Chrome()

In [4]:
driver.get("https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos")

In [5]:
Rank=[]

rank = driver.find_elements(By.XPATH,'//td[@align="center"][1]')
for i in rank[0:30]:
    ranks=i.text
    Rank.append(ranks)

In [7]:
Views=[]

view= driver.find_elements(By.XPATH,'//td[@align="center"][2]')
for i in view[0:30]:
    views=i.text
    Views.append(views)

In [8]:
Name=[]

name = driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"]//td[2]')
for i in name[0:30]:
    video_name=i.text
    Name.append(video_name)

In [9]:
Artist=[]

artist = driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"]//td[3]')
for i in artist[0:30]:
    artist_name=i.text
    Artist.append(artist_name)

In [10]:
Date=[]

date = driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"]//td[5]')
for i in date[0:30]:
    pub_date=i.text
    Date.append(pub_date)

In [11]:
df1=pd.DataFrame({'Rank':Rank,'Video Name':Name,'Artist':Artist,'Views':Views,'Publication Date':Date})
df1

,Rank,Video Name,Artist,Views,Publication Date
0,1.,"""Baby Shark Dance""[6]",Pinkfong Baby Shark - Kids' Songs & Stories,13.36,"June 17, 2016"
1,2.,"""Despacito""[9]",Luis Fonsi,8.26,"January 12, 2017"
2,3.,"""Johny Johny Yes Papa""[16]",LooLoo Kids - Nursery Rhymes and Children's Songs,6.80,"October 8, 2016"
3,4.,"""Bath Song""[17]",Cocomelon - Nursery Rhymes,6.41,"May 2, 2018"
4,5.,"""Shape of You""[18]",Ed Sheeran,6.08,"January 30, 2017"
5,6.,"""See You Again""[21]",Wiz Khalifa,6.03,"April 6, 2015"
6,7.,"""Wheels on the Bus""[26]",Cocomelon - Nursery Rhymes,5.56,"May 24, 2018"
7,8.,"""Phonics Song with Two Words""[27]",ChuChu TV Nursery Rhymes & Kids Songs,5.48,"March 6, 2014"
8,9.,"""Uptown Funk""[28]",Mark Ronson,5.03,"November 19, 2014"
9,10.,"""Learning Colors – Colorful Eggs on a Farm""[29]",Miroshka TV,4.97,"February 27, 2018"
10,11.,"""Gangnam Style""[30]",officialpsy,4.90,"July 15, 2012"
11,12.,"""Masha and the Bear – Recipe for Disaster""[35]",Get Movies,4.56,"January 31, 2012"
12,13.,"""Dame Tu Cosita""[36]",Ultra Records,4.44,"April 5, 2018"
13,14.,"""Axel F""[37]",Crazy Frog,4.06,"June 16, 2009"
14,15.,"""Sugar""[38]",Maroon 5,3.93,"January 14, 2015"
15,16.,"""Counting Stars""[39]",OneRepublic,3.87,"May 31, 2013"
16,17.,"""Roar""[40]",Katy Perry,3.87,"September 5, 2013"
17,18.,"""Baa Baa Black Sheep""[41]",Cocomelon - Nursery Rhymes,3.78,"June 25, 2018"
18,19.,"""Waka Waka (This Time for Africa)""[42]",Shakira,3.73,"June 4, 2010"
19,20.,"""Sorry""[43]",Justin Bieber,3.71,"October 22, 2015"
20,21.,"""Lakdi Ki Kathi""[44]",Jingle Toons,3.69,"June 14, 2018"
21,22.,"""Thinking Out Loud""[45]",Ed Sheeran,3.66,"October 7, 2014"
22,23.,"""Dark Horse""[46]",Katy Perry,3.59,"February 20, 2014"
23,24.,"""Humpty the train on a fruits ride""[47]",Kiddiestv Hindi - Nursery Rhymes & Kids Songs,3.55,"January 26, 2018"
24,25.,"""Perfect""[48]",Ed Sheeran,3.54,"November 9, 2017"
25,26.,"""Faded""[49]",Alan Walker,3.51,"December 3, 2015"
26,27.,"""Let Her Go""[50]",Passenger,3.51,"July 25, 2012"
27,28.,"""Girls Like You""[51]",Maroon 5,3.48,"May 31, 2018"
28,29.,"""Lean On""[52]",Major Lazer Official,3.46,"March 22, 2015"
29,30.,"""Bailando""[53]",Enrique Iglesias,3.45,"April 11, 2014"

In [12]:
#question no.3

driver = webdriver.Chrome()

In [13]:
driver.get("https://www.statisticstimes.com/")

In [14]:
click=driver.find_element(By.XPATH,"/html/body/div[2]/div[1]/div[2]/div[2]/button")
click.click()

In [15]:
click1=driver.find_element(By.XPATH,"/html/body/div[2]/div[2]/div[2]/ul/li[1]/a")
click1.click()

In [16]:
Ranks=[]
States=[]
GSDP18s=[]
GSDP19s=[]
Shares=[]
GDPs=[]

In [17]:
rank = driver.find_elements(By.XPATH,'//td[@class="data1"]')
for i in rank[0:33]:
    ranks=i.text
    Ranks.append(ranks)
    
state = driver.find_elements(By.XPATH,'//td[@class="name"]')
for i in state[0:33]:
    states=i.text
    States.append(states)    
    
gsdp = driver.find_elements(By.XPATH,'//td[@class="data sorting_1"]')
for i in gsdp[0:33]:
    gspds=i.text
    GSDP18s.append(gspds) 
    
gsdp19 = driver.find_elements(By.XPATH,'//td[@class="data"][1]')
for i in gsdp19[0:33]:
    gspds19=i.text
    GSDP19s.append(gspds19)    
    
share = driver.find_elements(By.XPATH,'//td[@class="data"][2]')
for i in share[0:33]:
    shares=i.text
    Shares.append(shares)
    
gdp = driver.find_elements(By.XPATH,'//td[@class="data"][3]')
for i in gdp[0:33]:
    gdps=i.text
    GDPs.append(gdps)

In [18]:
len(Ranks)

33

In [20]:
df3=pd.DataFrame({'Rank':Ranks,'State':States,'GSDP 18-19':GSDP18s,'GSDP 19-20':GSDP19s,'Share':Shares,'GDP in Billion':GDPs})
df3

,Rank,State,GSDP 18-19,GSDP 19-20,Share,GDP in Billion
0,1,Maharashtra,"2,632,792",-,13.94%,399.921
1,2,Tamil Nadu,"1,630,208","1,845,853",8.63%,247.629
2,3,Uttar Pradesh,"1,584,764","1,687,818",8.39%,240.726
3,4,Gujarat,"1,502,899",-,7.96%,228.290
4,5,Karnataka,"1,493,127","1,631,977",7.91%,226.806
5,6,West Bengal,"1,089,898","1,253,832",5.77%,165.556
6,7,Rajasthan,"942,586","1,020,989",4.99%,143.179
7,8,Andhra Pradesh,"862,957","972,782",4.57%,131.083
8,9,Telangana,"861,031","969,604",4.56%,130.791
9,10,Madhya Pradesh,"809,592","906,672",4.29%,122.977
10,11,Kerala,"781,653",-,4.14%,118.733
11,12,Delhi,"774,870","856,112",4.10%,117.703
12,13,Haryana,"734,163","831,610",3.89%,111.519
13,14,Bihar,"530,363","611,804",2.81%,80.562
14,15,Punjab,"526,376","574,760",2.79%,79.957
15,16,Odisha,"487,805","521,275",2.58%,74.098
16,17,Assam,"315,881",-,1.67%,47.982
17,18,Chhattisgarh,"304,063","329,180",1.61%,46.187
18,19,Jharkhand,"297,204","328,598",1.57%,45.145
19,20,Uttarakhand,"245,895",-,1.30%,37.351
20,21,Jammu & Kashmir,"155,956",-,0.83%,23.690
21,22,Himachal Pradesh,"153,845","165,472",0.81%,23.369
22,23,Goa,"73,170","80,449",0.39%,11.115
23,24,Tripura,"49,845","55,984",0.26%,7.571
24,25,Chandigarh,"42,114",-,0.22%,6.397
25,26,Puducherry,"34,433","38,253",0.18%,5.230
26,27,Meghalaya,"33,481","36,572",0.18%,5.086
27,28,Sikkim,"28,723","32,496",0.15%,4.363
28,29,Manipur,"27,870","31,790",0.15%,4.233
29,30,Nagaland,"27,283",-,0.14%,4.144
30,31,Arunachal Pradesh,"24,603",-,0.13%,3.737
31,32,Mizoram,"22,287","26,503",0.12%,3.385
32,33,Andaman & Nicobar Islands,-,-,-,-

In [21]:
#question no.2

driver = webdriver.Chrome()

In [22]:
driver.get("https://www.bcci.tv/")

In [24]:
click1=driver.find_element(By.XPATH,"/html/body/nav/div[1]/button")
click1.click()

In [25]:
click2=driver.find_element(By.XPATH,"/html/body/nav/div[1]/div[2]/ul[1]/li[2]/a")
click2.click()

In [26]:
Match_Title=[]
Series=[]
Place=[]
Date=[]
Time=[]

In [27]:
match_title = driver.find_elements(By.XPATH,'//span[@class="matchOrderText ng-binding ng-scope"]')
for i in match_title:
    match=i.text
    Match_Title.append(match)
    
series = driver.find_elements(By.XPATH,'//div[@class="small-seprator"]')
for i in series:
    ser=i.text
    Series.append(ser)
    
place = driver.find_elements(By.XPATH,'//span[@class="ng-binding ng-scope"]')
for i in place:
    places=i.text
    Place.append(places)
    
date = driver.find_elements(By.XPATH,'//div[@class="match-dates ng-binding"]')
for i in date:
    dates=i.text
    Date.append(dates)
    
time = driver.find_elements(By.XPATH,'//div[@class="match-time no-margin ng-binding"]')
for i in time:
    times=i.text
    Time.append(times)

In [30]:
Tournament_Name=[]
tournament_name = driver.find_elements(By.XPATH,'//h5[@class="match-tournament-name ng-binding"]')
for i in tournament_name:
    tournament=i.text
    Tournament_Name.append(tournament)

In [31]:
df2=pd.DataFrame({'Tournament Name':Tournament_Name,'Match Title':Match_Title,'Series':Series,'Place':Place,'Date':Date,'Time':Time})
df2

,Tournament Name,Match Title,Series,Place,Date,Time
0,ASIA CUP 2023,6th ODI -,vs,"R Premadasa International Stadium,",17 SEP 2023,3:00 PM IST
1,19TH ASIAN GAMES 2023,1st T20I -,vs,"Pingfeng Cricket Field,",21 SEP 2023,6:30 AM IST
2,AUSTRALIA TOUR OF INDIA 2023-24,1st ODI -,vs,"Punjab Cricket Association IS Bindra Stadium,",22 SEP 2023,1:30 PM IST
3,AUSTRALIA TOUR OF INDIA 2023-24,2nd ODI -,vs,"Holkar Cricket Stadium,",24 SEP 2023,1:30 PM IST
4,AUSTRALIA TOUR OF INDIA 2023-24,3rd ODI -,vs,"Saurashtra Cricket Association Stadium,",27 SEP 2023,1:30 PM IST
5,ICC MENS WORLD CUP 2023 WARM-UP MATCHES,1st ODI -,vs,"Barsapara Cricket Stadium,",30 SEP 2023,2:00 PM IST
6,19TH ASIAN GAMES 2023,1st T20I -,vs,"Pingfeng Cricket Field,",3 OCT 2023,6:30 AM IST
7,ICC MENS WORLD CUP 2023 WARM-UP MATCHES,2nd ODI -,vs,"Greenfield International Stadium,",3 OCT 2023,2:00 PM IST

In [31]:
#question no 4

In [32]:
driver = webdriver.Chrome()

In [33]:
driver.get("https://github.com/")

In [42]:
Repository_Title=[]
Repository_Description=[]
Languages=[]

rt = driver.find_elements(By.XPATH,'//a[@class="color-fg-default"]')
for i in rt:
    repo_title=i.text
    Repository_Title.append(repo_title)
    
rd = driver.find_elements(By.XPATH,'//p[@class="f4 my-3"]')
for i in rd:
    repo_description=i.text
    Repository_Description.append(repo_description)  
    
cc = driver.find_elements(By.XPATH,'//h2[@class="f4 text-normal mb-2"]')
for i in cc:
    count=i.text
    Conributors_Count.append(count) 
    
lang = driver.find_elements(By.XPATH,'//span[@class="color-fg-default text-bold mr-1"]')
for i in lang:
    language=i.text
    Languages.append(language)

In [50]:
Contributors_Count=[]
cc = driver.find_elements(By.XPATH,'//h2[@class="f4 text-normal mb-2"]')
for i in cc:
    count=i.text
    Contributors_Count.append(count)

In [52]:
df4=pd.DataFrame({'Repository Tilte':Repository_Title,'Repository Description':Repository_Description,'Language':Languages,'Contributors Count':Contributors_Count})
df4

,Repository Tilte,Repository Description,Language,Contributors Count
0,Internship,Working on Internship assignments,Jupyter Notebook,30 contributions in the last year

In [61]:
#question no.5

driver = webdriver.Chrome()

In [62]:
driver.get("https://www.billboard.com/")

In [63]:
click1=driver.find_element(By.XPATH,"/html/body/div[3]/header/div/div[4]/div/div[1]/div[1]/button")
click1.click()

In [64]:
click2=driver.find_element(By.XPATH,"/html/body/div[3]/div[9]/div/div/div/ul/li[1]/h3/a")
click2.click()

In [65]:
click3=driver.find_element(By.XPATH,"/html/body/div[3]/main/div[2]/div[1]/div[1]/div/div/div[3]/a")
click3.click()

In [79]:
Songs=[]

song = driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]//h3')
for i in song:
    songs=i.text
    Songs.append(songs)

In [93]:
LWR=[]

lwr = driver.find_elements(By.XPATH,'//li[@class="o-chart-results-list__item // a-chart-color u-width-72 u-width-55@mobile-max u-width-55@tablet-only lrv-u-flex lrv-u-flex-shrink-0 lrv-u-align-items-center lrv-u-justify-content-center lrv-u-border-b-1 u-border-b-0@mobile-max lrv-u-border-color-grey-light u-background-color-white-064@mobile-max u-hidden@mobile-max"][1]')
for i in lwr:
    last_week=i.text
    LWR.append(last_week)

In [95]:
PR=[]

pr = driver.find_elements(By.XPATH,'//li[@class="o-chart-results-list__item // a-chart-bg-color a-chart-color u-width-72 u-width-55@mobile-max u-width-55@tablet-only lrv-u-flex lrv-u-flex-shrink-0 lrv-u-align-items-center lrv-u-justify-content-center lrv-u-background-color-grey-lightest lrv-u-border-b-1 u-border-b-0@mobile-max lrv-u-border-color-grey-light u-hidden@mobile-max"][2]')
for i in pr:
    peak=i.text
    PR.append(peak)

In [97]:
WOB=[]

wob = driver.find_elements(By.XPATH,'//li[@class="o-chart-results-list__item // a-chart-color u-width-72 u-width-55@mobile-max u-width-55@tablet-only lrv-u-flex lrv-u-flex-shrink-0 lrv-u-align-items-center lrv-u-justify-content-center lrv-u-border-b-1 u-border-b-0@mobile-max lrv-u-border-color-grey-light u-background-color-white-064@mobile-max u-hidden@mobile-max"][2]')
for i in wob:
    wobs=i.text
    WOB.append(wobs)

In [101]:
df5=pd.DataFrame({'Song Name':Songs,'Last week Rank':LWR,'Peak Rank':PR,'Weaks on board':WOB})
df5

                Song Name Last week Rank Peak Rank Weaks on board
0      Paint The Town Red              3         1              5
1   I Remember Everything              1         1              2
2                Fast Car              2         2             24
3            Cruel Summer              5         3             18
4              Last Night              4         1             32
..                    ...            ...       ...            ...
95            Stand By Me             93        22             15
96      Call Your Friends             85        26              3
97     Your Heart Or Mine             72        47             17
98           Primera Cita             97        97              2
99                    S91             86        45              6

[100 rows x 4 columns]

In [102]:
# in question 5 not able to fetch the data for Artist Name

In [103]:
#question no.6

driver = webdriver.Chrome()

In [104]:
driver.get("https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare")

In [105]:
Book_name=[]
Author_name=[]
Volumes_sold=[]
Publisher=[]
Genre=[]

In [106]:
bookname = driver.find_elements(By.XPATH,'//td[@class="left"][2]')
for i in bookname:
    book_name=i.text
    Book_name.append(book_name)
    
authorname = driver.find_elements(By.XPATH,'//td[@class="left"][3]')
for i in authorname:
    author_name=i.text
    Author_name.append(author_name)
    
sold = driver.find_elements(By.XPATH,'//td[@class="left"][4]')
for i in sold:
    v_sold=i.text
    Volumes_sold.append(v_sold) 
    
pub = driver.find_elements(By.XPATH,'//td[@class="left"][5]')
for i in pub:
    publisher=i.text
    Publisher.append(publisher)
 
    
genre = driver.find_elements(By.XPATH,'//td[@class="last left"]')
for i in genre:
    gen=i.text
    Genre.append(gen)

In [108]:
df6=pd.DataFrame({'Book Name':Book_name,'Author Name':Author_name,'Volumes Sold':Volumes_sold,'Publisher':Publisher,'Genre':Genre})
df6

,Book Name,Author Name,Volumes Sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

In [109]:
#question no.7

driver = webdriver.Chrome()

In [110]:
driver.get("https://www.imdb.com/list/ls095964455/")

In [139]:
Names=[]

name = driver.find_elements(By.XPATH, '//div[@class="lister-item-content"]//h3//a')
for i in name:
    names=i.text
    Names.append(names)

In [125]:
Genre=[]
Run_time=[]
Ratings=[]

In [126]:
   
genre = driver.find_elements(By.XPATH, '//span[@class="genre"]')
for i in genre:
    genres=i.text
    Genre.append(genres)
    
run = driver.find_elements(By.XPATH, '//span[@class="runtime"]')
for i in run:
    r_time=i.text
    Run_time.append(r_time)
    
rating = driver.find_elements(By.XPATH, '//div[@class="ipl-rating-star small"]')
for i in rating:
    ratings=i.text
    Ratings.append(ratings)

In [135]:
Years_span=[]
year = driver.find_elements(By.XPATH, '//span[@class="lister-item-year text-muted unbold"]')
for i in year:
    years=i.text
    Years_span.append(years)

In [150]:
Vote=[]
vote = driver.find_elements(By.XPATH, '//p[@class="text-muted text-small"][3]')
for i in vote:
    votes=i.text
    Vote.append(votes)

In [153]:
df7=pd.DataFrame({'Name':Names,'Years Span':Years_span,'Genre':Genre,'Run Time':Run_time,'Ratings':Ratings,'Votes':Vote})
df7

,Name,Years Span,Genre,Run Time,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.2,"Votes: 2,203,945"
1,Stranger Things,(2016–2025),"Drama, Fantasy, Horror",51 min,8.7,"Votes: 1,275,552"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.1,"Votes: 1,045,770"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.5,"Votes: 307,334"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"Votes: 266,433"
...,...,...,...,...,...,...
95,Reign,(2013–2017),Drama,42 min,7.5,"Votes: 52,725"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"Votes: 64,775"
97,Criminal Minds,(2005– ),"Crime, Drama, Mystery",42 min,8.1,"Votes: 211,022"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7,"Votes: 43,896"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"Votes: 265,929"

In [25]:
#question no.8

driver = webdriver.Chrome()

In [26]:
driver.get("https://archive.ics.uci.edu/")

In [30]:
click=driver.find_element(By.XPATH,"/html/body/div/div[1]/div[1]/main/div/div[1]/div/div/div/a[1]")
click.click()

In [27]:
dataset_url=[]
start=0
end=1
for page in range(start,end):
    url=driver.find_elements(By.XPATH,'//a[@class="link-hover link text-xl font-semibold"]')
    for i in url:
        dataset_url.append(i.get_attribute("href"))

In [ ]:
df8=pd.DataFrame({'Dataset Name':Datasets_names,'Data Type':Data_type,'Tasks':Task,'Attribute Type':Attribute_type,'Number of Instances':Num_instance,'Number of Attributes':Num_attribute,'Years':Year})
df8

In [28]:
Datasets_names = []
Data_type = []
Task = []
Attribute_type = []
Num_instance = []
Num_attribute = []
Year = []

for url in dataset_url:
    driver.get(url)
    time.sleep(2)
            
    try:
        types=driver.find_element(By.XPATH,'//p[@class="text-md"][1]')
        Data_type.append(types.text)
    except NoSuchElementException:
        Data_type.append('-')
        
    try:
        task=driver.find_element(By.XPATH,'(//p[@class="text-md"])[3]')
        Task.append(task.text)
    except NoSuchElementException:
        Task.append('-')
        
    try: 
        a_types=driver.find_element(By.XPATH,'(//p[@class="text-md"])[4]')
        Attribute_type.append(a_types.text)
    except NoSuchElementException:
        Attribute_type.append('-')
        
    try: 
        num_instance=driver.find_element(By.XPATH,'(//p[@class="text-md"])[5]')
        Num_instance.append(num_instance.text)
    except NoSuchElementException:
        Num_instance.append('-')
        
    try: 
        num_a=driver.find_element(By.XPATH,'(//p[@class="text-md"])[6]')
        Num_attribute.append(num_a.text)
    except NoSuchElementException:
        Num_attribute.append('-')
          
    
    try:
        dataset_name=driver.find_element(By.XPATH,'//h1[@class="text-3xl font-semibold text-primary-content"]')
        Datasets_names.append(dataset_name.text)
    except NoSuchElementException:
        Datasets_names.append('-')
        
        
        
    try: 
        year=driver.find_element(By.XPATH,'//h2[@class="text-sm text-primary-content"]')
        Year.append(year.text)
    except NoSuchElementException:
        Year.append('-')

In [29]:
df8=pd.DataFrame({'Dataset Name':Datasets_names,'Data Type':Data_type,'Tasks':Task,'Attribute Type':Attribute_type,'Number of Instances':Num_instance,'Number of Attributes':Num_attribute,'Years':Year})
df8

,Dataset Name,Data Type,Tasks,Attribute Type,Number of Instances,Number of Attributes,Years
0,Iris,Tabular,Classification,Real,150,4,Donated on 6/30/1988
1,Heart Disease,Multivariate,Classification,"Categorical, Integer, Real",303,13,Donated on 6/30/1988
2,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,Donated on 4/30/1996
3,Dry Bean Dataset,Multivariate,Classification,"Integer, Real",13611,16,Donated on 9/13/2020
4,Diabetes,"Multivariate, Time-Series","Categorical, Integer",20,-,-,-
5,Wine,Tabular,Classification,"Integer, Real",178,13,Donated on 6/30/1991
6,Breast Cancer Wisconsin (Diagnostic),Multivariate,Classification,Real,569,30,Donated on 10/31/1995
7,Car Evaluation,Multivariate,Classification,Categorical,1728,6,Donated on 5/31/1997
8,Rice (Cammeo and Osmancik),Multivariate,Classification,Real,3810,7,Donated on 10/5/2019
9,Mushroom,Multivariate,Classification,Categorical,8124,22,Donated on 4/26/1987